# KATA 09 
### EJERCICIO 01

In [12]:

def promedio(tanques):
    prom= sum(tanques)
    items =len(tanques)
    return prom / items

def reportetanks(tanque1, tanque2, tanque3):
    return (f'El promedio es de {promedio([tanque1,tanque2,tanque3])} el tanque1 cuenta con {tanque1}, el tanque2 con {tanque2} y tanque 3 con {tanque3} ')

reportetanks(51,54,54)

'El promedio es de 53.0 el tanque1 cuenta con 51, el tanque2 con 54 y tanque 3 con 54 '

### EJERCICIO 02

In [13]:
def mission_report(salida, vuelo, destino, tanqueext, maintanque):
    return f"""
    Mission to {destino}
    Total travel time: {salida + vuelo} minutes
    Total fuel left: {tanqueext + maintanque} gallons
    """

print(mission_report(14, 51, "Moon", 200000, 300000))

    Mission to Moon
    Total travel time: 65 minutes
    Total fuel left: 500000 gallons

In [14]:
def mission_report(destination, *minutes, **fuel_reservoirs):
    return f"""
    Mission to {destination}
    Total travel time: {sum(minutes)} minutes
    Total fuel left: {sum(fuel_reservoirs.values())}
    """

print(mission_report("Moon", 10, 15, 51, main=300000, external=200000))

    Mission to Moon
    Total travel time: 76 minutes
    Total fuel left: 500000

In [15]:
def mission_report(destination, *minutes, **fuel_reservoirs):
    return f"""
    Mission to {destination}
    Total travel time: {sum(minutes)} minutes
    Total fuel left: {sum(fuel_reservoirs.values())}
    """

print(mission_report("Moon", 10, 15, 51, main=300000, external=200000))

    Mission to Moon
    Total travel time: 76 minutes
    Total fuel left: 500000

In [18]:
def mission_report(destination, *minutes, **fuel_reservoirs):
    main_report = f"""
    Mission to {destination}
    Total travel time: {sum(minutes)} minutes
    Total fuel left: {sum(fuel_reservoirs.values())}
    """
    for tank_name, gallons in fuel_reservoirs.items():
        main_report += f"{tank_name} tank --> {gallons} gallons left\n"
    return main_report

print(mission_report("Moon", 8, 11, 55, 10,10,10, otro=4545, otro1=54545, main=300000, external=200000))

    Mission to Moon
    Total travel time: 104 minutes
    Total fuel left: 559090
    otro tank --> 4545 gallons left
otro1 tank --> 54545 gallons left
main tank --> 300000 gallons left
external tank --> 200000 gallons left