# Kata 08
### Ejercicio 01

In [9]:
planet = {
    'planeta': 'Mars',
    'number':  42
}
print(planet.get('planeta'))
print(planet.get('number'))
## Mars 42
planet['planeta'] = 'Earth'
planet['number']='59'

print(planet.get('planeta'))
print(planet.get('number'))
## Earth 59

planet['polar']= 6752
planet['equatorial']= 6792

print(planet)

Mars
42
Earth
59
{'planeta': 'Earth', 'number': '59', 'polar': 6752, 'equatorial': 6792}

6752

In [11]:
print(planet['planeta'])
planet['polar']

Earth

6752

## Ejercicio 02 Programacion dinamica con diccionarios

In [12]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

total_moons = 0
total_planets = 0
for value in planet_moons.values():
    total_moons = total_moons + value
total_planets = len(planet_moons)
promedio = total_moons / total_planets
print(f'Hay un total de {total_moons} en el sistema')
print(f'Hay un promedio de {total_moons} lunas por planeta')

Hay un total de 214 en el sistema
Hay un promedio de 214 lunas por planeta